body{
	margin: 0;
	padding: 0;
}
/* Nav */
.amber h5{
	color: black;
	font-weight: 800;
}

.amber div{
	padding: 5px 10%;
}

/* Section */
section{
	height: 600px;
	width: 100%;
}

.waves-effect{
	top:-60px;
	left:20px;
}
#textarea{
	width:70%;
}	

li{
	background-color: white;
	color: #00ace6;	
}

i.x{
	position: relative;
	left: 50%;	
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	position: absolute;
	left: 20px; 
	opacity: 1; 
	width: 20px;
	height: 20px;
}
